__pycache__
wandb*
.idea
.mypy_cache
.ipynb_checkpoints
.vscode
MUJOCO_LOG.TXT
.coverage

.pkl
.log

# build
build
dist
*.egg-info

# data
data/distillation_buffer

/checkpoint/*
/data/*
/.ipynb_checkpoints

#readme
README.md
